sphinx-tabs
myst-parser
recommonmark
sphinx-rtd-theme
Sphinx
docutils>=0.20,<0.22
Jinja2
MarkupSafe
alabaster
sphinx-design
sphinx_rtd_size
sphinx-notfound-page
sphinx_copybutton
sphinx_external_toc
sphinxcontrib-mermaid
sphinx_togglebutton
linkify-it-py
markdown-it-py
Sphinx-Substitution-Extensions